h1 {
    letter-spacing: 8px;
}
h3 {
    letter-spacing: 5.5px;
}
h5 {
    letter-spacing: 3px;
}
.hr-light {
    border-top: 3px solid #fff;
    width: 80px;
}
.img-intro{
    height: auto;
    width: auto;
    max-height: 450px;
    max-width: 450px;
    line-height: 450px;
    vertical-align: middle;
}
@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 700px; 
    } 
    .img-intro{
        height: auto;
        width: auto;
        max-height: 250px;
        max-width: 250px;
        line-height: 250px;
        vertical-align: middle;
    }
}