<header>
    <app-navbar></app-navbar>

    <!-- Intro Section -->
    <div class="view hm-black-light jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(https://mdbootstrap.com/img/Photos/Others/architecture.jpg);">
        <div class="full-bg-img">
            <div class="container flex-center">
                <div class="row pt-5 mt-3">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h1 class="h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s">
                                <img class="img-intro mx-auto d-block" src="./assets/img/logos/simar.png" alt="">
                            </h1>
                            <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
                            <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s">
                                <strong>"Somos lo que hacemos día a día. De modo que la excelencia no es un acto sino un hábito."</strong>
                            </h5>
                            <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s">
                                <strong>- Aristóteles -</strong>
                            </h5>
                            <a class="btn btn-outline-white wow fadeInDown waves-light" data-wow-delay="0.4s" href="#about" mdbPageScroll mdbRippleRadius>Quiénes Somos</a>
                            <a class="btn btn-outline-white wow fadeInDown waves-light" data-wow-delay="0.4s" mdbRippleRadius>Por qué Simatech</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<main>

    <div class="container">

        <!--Grid row-->
        <div class="row py-5 mt-4">

            <!--Grid column-->
            <div id="about" class="col-md-12 text-center">

                <h3>
                    <strong>BIENVENIDO A SIMATECH</strong>
                </h3>
                ⁣

                <p>Somos la empresa consultora estratégica y de confianza para las empresas privadas y las entidades gubernamentales
                    que buscan una ventaja competitiva y sostenible.</p>

                <p>Somos conocedores y estudiosos del modelo de Excelencia Operacional y el desarrollo del Liderazgo, lo cual
                    nos permite tener un modelo integral y completo para lograr las mejores transformaciones corporativas.</p>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>

</main>