<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
  <logo>
      <a class="logo navbar-brand waves-light" mdbRippleRadius href="#"><img class="img-responsive" src="./assets/img/logos/simar.png" alt=""></a>
  </logo>
  <links>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
      </ul>
      <!-- <form class="form-inline waves-light" mdbRippleRadius>
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      </form> -->
  </links>
</mdb-navbar>