.top-nav-collapse {
    background-color: #78909c !important; 
}
.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #78909c !important;
    } 
}
.img-responsive {
    height: auto;
    width: auto;
    max-height: 30px;
    max-width: 250px;
    line-height: 30px;
    vertical-align: middle;
}